.App {
	text-align: center;
	background: #444;
	color: white;
	font-family: 'Raleway', Arial, Helvetica, sans-serif;
}

/***** HEADER SECTION *****/
header {
	height: 100vh;
}
#header .full-width {
	padding: 20px 0;
}

.header-top {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

/***** GRID *****/
.full-width {
	max-width: 1200px;
	margin: 20px auto;
	overflow: auto;
}

/* .half-width {
	max-width: 600px;
	float: left;
} */

.third-width {
	max-width: 400px;
	float: left;
}

/***** LOGO *****/
#logo-icon {
	height: auto;
	width: 100%;
	max-width: 100px;
}
#logo h1 {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 100%;
	max-width: 300px;
	font-family: 'Shrikhand', cursive;
	font-size: 2rem;
}
.sev {
	color: #d9a64b;
	padding: 0px 10px;
}
.welker {
	color: #348ba0;
}

/***** NAV SECITON *****/

nav {
	font-family: 'Shrikhand', cursive;
	font-size: 5vw;
	max-width: 500px;
}

#projects-nav a,
#projects-nav a:visited {
	color: #de91aa;
}

#about-nav a,
#about-nav a:visited {
	color: #d9a64b;
	/* padding-left: 25%; */
}
#contact-nav a,
#contact-nav a:visited {
	color: #348ba0;
	/* padding-left: 25%; */
}
nav ul {
	display: flex;
	justify-content: center;
	align-self: middle;
	gap: 5vw;
	padding: 0;
}
nav ul li {
	list-style-type: none;
}
/***** INTRO SECITON *****/
.intro {
	font-size: 8vw;
	padding: 0 10px;
	text-align: center;
}

#intro-full-width {
	margin: 0 auto;
	padding: 0 8px;
}
