.birthday-page {
  background-color: rgb(117, 56, 230);
  padding: 100px;
  height: 100vh;
}

.birthday-container {
  display: flex;

  flex-direction: column;
  background-color: white;
  border-radius: 20px;
  padding: 40px;
  width: 400px;
  margin: 0 auto;
}
.birthday-header,
.birthday-person h1 {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  text-shadow: none;
}

.birthday-header {
  font-size: 30px;
  align-self: center;
}

.birthday-person {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-bottom: 0.5px solid grey;
  width: 300px;
  margin: 0 auto;
}

.birthday-person h1 {
  font-size: 20px;
}

.birthday-person img {
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: var(--light-shadow);
}

.btn {
  padding: 10px;
  background-color: transparent;
  border: rgb(117, 56, 230) 2px solid;
  color: rgb(117, 56, 230);
  font-weight: bolder;
  width: 300px;
  align-self: center;
  margin-top: 20px;
}
